@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html {
  /*background-image: url('https://wallpaperscraft.com/image/spots_background_light_blur_68629_1920x1080.jpg');*/
  background-attachment:fixed;
  transition: background 1s linear;
  -moz-transition: background 1s linear; /* Firefox 4 */
  -webkit-transition: background 1s linear; /* Safari and Chrome */
  -o-transition: background 1s linear; /* Opera */
  -ms-transition: background 1s linear; /* Explorer 10 */
  /*background-color: #E9F0F5;*/

}


.wallpaperStyle {
  padding: 105px;
}
#blur {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
}

.use_blur:not(.tile-small) {
    opacity: 0;
    /*filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);*/
}

.blur_effect {
    transition: 0.5s;
}

.tiles_size {
  whidth: 100%;
  height: 100%;
  background-color:#2196F;
}

.remove_blur {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}
/*.tile-small:hover:after{
    background: transparent;
}*/

.tile-small:hover + #blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
/*.effect_blur div:hover + #blur {
  }*/

.index {
  z-index: 0 !important;
}
/*body {
}*/

.separator {
  text-align:center;
  margin-bottom: 7px;
  margin-top: 10px;
}

.fixed {
        position: fixed;
        width: 25%;
}
.scrollit {
        float: left;
        width: 71%
}

.blureffect {
  /*position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;*/
  /*background-color: blue !important;*/
  /*width: 1200px;*/
  /*height: 800px;*/

  /*-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
}

.menu {
  position:fixed;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#img{
    top: 50%;
    left: 50%;
    /*position:absolute;*/
    background:url("https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAUIAAAAJDBjMWM3NDAwLWUxMjAtNDBiMy04YWM3LWFjZWY4Y2ExOWRjYg.png") center no-repeat;
		background-size: cover;
    height: 12em;
		width: 12em;
		border-radius: 50%;
		margin-left: 90px;
    margin-bottom: 35px;
		/*border: 1px solid #ebebeb;*/
		/*box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);*/
}

body {

  background-color: transparent;
}

.tab-toolbar-container {
  display: none !important;
}

h1 {
  color: #ECF0F5;
  font: 'Roboto';
}


@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('/img/font/roboto.ttf'); /*URL to font*/
}


.hrdesign {
  margin: 15px auto;
  width: 80%;
}

#imgSidenav {

    /*background: url("https://travelplanet.fr/images/logo/logo.png") center no-repeat;*/
		/*background: url("http://www.univ-lorraine.fr/sites/www.univ-lorraine.fr/files/node_files/publics/users/martin38/2013/10/isotype_ul.jpg") center no-repeat;*/

    background-size: contain;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 25px;
    /*box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);*/
    /*background-size: contain;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-left: 95px;
		margin-top: 20px;*/
		/*margin-bottom: -20px;
    border: 1px solid #ebebeb;*/
    /*box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);*/
}

.login-card {
  padding: 40px;
  width: 450px;
  background-color: rgba(6, 1, 1, 0.5);
  margin: 4px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

fieldset {
  display: none;
}
