<div  style="margin-right: auto !important;
    margin-left: auto !important; padding: 25px;">
  <form class="col s12" style="width: 800px;">
    <!-- <div class="row">
    <div class="input-field col s12">
            <select>
                <option value="" disabled selected>choisir</option>
                <option value="1">MR</option>
                <option value="2">MS</option>
                <option value="3">Autre</option>
            </select>
   <label>Choisir</label>
 </div>
 </div> -->



<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
    <div class="row">
      <div class="input-field col s6">
        <input ng-model="user.firstname" type="text" class="validate">
        <label style="font-size: 18px">Prenom</label>
      </div>
      <div class="input-field col s6">
        <input ng-model="user.name" type="text" class="validate">
        <label style="font-size: 18px" >Nom</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.phone" type="text" class="validate">
        <label style="font-size: 18px" for="disabled">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="user.mail" id="email" type="email" class="validate">
        <label style="font-size: 18px" for="email">Email</label>
      </div>
    </div>
    <div>
      <input type="submit" value="Create Profile" />
    </div>
    <!-- <div class="row">
      <a ng-click="createProfilNext()" class="waves-effect waves-light btn">Suivant</a>
    </div> -->
  </form>
</div>
