<div class="row" style="max-width: none; margin-left: 0.0rem; height: 100%;  width: 100%; margin-bottom:0px">
  <div class="col s12 s4 l4 valign hide-on-med-and-down" style="
      background: url('{{background_image_url}}');
      background-size: cover;
      height: 100%;">
    <div class="z-depth-2" style="background: url('{{user_image_url}}') center no-repeat; background-color:burlywood" id = "img"> </div>
  </div>
  <div class="col s12 s8 l8 valign-wrapper" style="height: 100%;">
    <div class="valign center" style=" width: 100%;">
      <h2 layout-padding>Bonjour {{data[0].user_last_name}}</h2>
      <h5 layout-padding>Session verouillé, pour acceder à votre dashboard, veuillez entrez votre mot de passe.</h5>
      <form name="loginForm">
        <md-content layout-padding>
          <md-input-container>
            <md-icon md-svg-src="/img/icons/lock.svg"></md-icon>
            <label style="font-size: 15px; width: 95%;">Mot de passe travel</label>
            <input type="password" style="font-size: 20px;" ng-model="password" required="true">
            <a ng-click="backtoLoggin()" style="cursor:pointer">Retourner a la page de login</a>
          </md-input-container>
        </md-content>
        <div layout-padding class="col s12 center cssFade">
          <!-- <a style="background-color:#FF0015" ng-click="backtoLoggin()"     class="waves-effect waves-light btn">Retour</a> -->
          <a style="background-color:#0077BB" ng-hide="loginForm.$invalid"  ng-click="login($event)" class="waves-effect waves-light btn">Connexion</a>
        </div>
      </form>
    </div>
  </div>
</div>
