<div class="row" style="max-width: none; margin-left: 0.0rem; height: 100%;  width: 100%; margin-bottom:0px;">
  <div class="col s12 s4 l4 valign hide-on-med-and-down" style="
      background: url('/img/default_account_wallpaper.jpg');
      background-size: cover;
      height: 100%;">
    <div class="z-depth-2" style="background: url('/img/travel_planet_logo.png') center no-repeat; background-color:burlywood" id ="img"> </div>
  </div>
  <div class="col s12 s8 l8" style="height: 100%; overflow:auto;">
    <div class="valign center" style=" width: 100%;">
      <h5 class="left h5login">Veuillez sélectionner une communauté</h5>
      <!-- list of comuunity -->
      <div class="col s6" ng-click="goToPassword(community)" ng-repeat="community in communities">
        <a class="button teach-me">
          <div class="col s9">
            <span class="item">{{community.SITE_LIBELLE}}</span>
          </div>
          <div class="col s2 paddingImgLogin">
            <img src="{{user_image_url}}" alt="" class="circle responsive-img">
          </div>
          <i class="chevron"></i>
        </a>
      </div>
    </div>
  </div>
</div>
