<div class="row" style="max-width: none; margin-left: 0.0rem; height: 100%;  width: 100%; margin-bottom:0px">
  <div class="col s12 bgc-cyan-500" style="height:100% ; overflow: auto;">
    <div style="overflow: auto; padding-right: 20px;">
      <h1 class="center">Choisissez une comuneauté</h1>
      <div class="tc-white-1 p+ col s12">
          <!-- list of comuunity -->
          <div class="p+ col s4" ng-click="goToPassword(community)"ng-repeat="community in communities">
            <div class="card" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                <div class="card__img card__img--top">
                    <img src="http://www.bluthemes.com/assets/img/blog/12/airplane.jpg">
                    <span class="fs-headline tc-white-1 display-block">{{community.SITE_LIBELLE}}</span>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
