<div class="row" style="max-width: none; margin-left: 0.0rem; height: 100%;  width: 100%; margin-bottom:0px">
  <div class="col s12 s7 l7 valign hide-on-med-and-down" style="
      padding: 0;
      height: 100%;">
    <div class="z-depth-2" style="background: url('img/travel_planet_logo.png') center no-repeat; background-color:white" id = "img-logo"> </div>
  </div>
  <div class="col s12 s5 l5 valign-wrapper" style="height: 100%; background-color:#402f73">
    <div class="valign center" style=" width: 100%;">

      <h5 style="color:white" class="h5login">Veuillez sélectionner une communauté</h5>
      <form name="loginForm" ng-submit="login($event)">
        <md-content class="md-content-community">
          <md-input-container style="width: 100%;">
            <md-select ng-change='goToPassword(chooseComunity)' ng-model="chooseComunity" name="chooseCommunity" aria-label="chooseCommunity" >
              <md-option ng-repeat="community in communities" ng-value="community">
                {{community.SITE_LIBELLE}}
              </md-option>
            </md-select>
          </md-input-container>
        </md-content>
      </form>
    </div>
  </div>
</div>
