<div ng-model         = "detail" class = "separator row">
    <!-- Partie datatable généré automatiquement -->
    <div class="col s8">
      <div class        = "col s12"
           style        = "text-align:left; margin: 0; padding: 0; margin-bottom: -9px;"
           ng-repeat    = "data in data_table.datatable"
           ng-bind-html = "getGenericRow(data, data_table.datatable_width)"
           ng-click     = "watchOrDownload(data)">
      </div>
    </div>
    <!-- partie filtre généré automatiquement -->
    <div class                = "col s4 "
         layout-padding style = "background-color: white"
         ng-repeat            = "filter in data_table.datatable_width">
         <!-- <input for              = 'clientName'
                ng-change        = 'filterFacture()'
                ng-model         = 'clientFacture'
                name             = 'clientFacture'
                ng-model-options = '{debounce: 1000}'
                minlength        = '3'
                maxlength        = '10'
                ng-pattern       = '/^[0-9]+$/'>
         </input> -->
         <md-input-container ng-bind-html = "getGenericFilter(filter.has_date_filter, filter.has_search_filter, filter.has_bullet_filter, filter.has_amount_filter)"></md-input-container>
    </div>
  </div>
</div>
  <!--<form name="searchForm">
  <div layout-padding class="col s12 m4 l2" style="background-color:white; height: 800px;">
    <div ng-if="allow_filters.rules_filter_canFilterNumberClient">
      <h4>Recherche : </h4>
      <md-input-container class="col s12">
        <label class="fontSize " style="font-size: 15px;">Par numéro de facture</label>
        <input for="clientName" ng-change="filterFacture(clientFacture)" ng-model="clientFacture" name="clientFacture" ng-model-options="{debounce: 1000}" minlength="3" maxlength="10" ng-pattern="/^[0-9]+$/">
        <div ng-messages="searchForm.clientFacture.$error" role="alert">
          <div ng-message-exp="['pattern']">
            Recherche invalide, veuillez entrer que des chiffres (minimum 3 chiffres - maximum 10 chiffres).
          </div>
          <div ng-message-exp="['minlength']">
            Argument trop court (Minimum 3 chiffres - maximum 10 chiffres).
          </div>
        </div>
      </md-input-container>
    </div>
    <div ng-if="allow_filters.rules_filter_canFilterNameClient">
      <md-input-container class="col s12">
        <label class="fontSize" style="font-size: 15px;">Par nom du voyageur</label>
        <input for="clientName" ng-change="filterName(clientName)" ng-model="clientName" name="clientName" ng-model-options="{debounce: 1000}" minlength="3" ng-pattern="/^[a-zA-Z\s]*$/">
        <div ng-messages="searchForm.clientName.$error" role="alert">
          <div ng-message-exp="['pattern']">
            Recherche invalide, veuillez entrer que des lettres.
          </div>
          <div ng-message-exp="['minlength']">
            Recherche invalide, veuillez entrer 3 lettres ou plus.
          </div>
        </div>
      </md-input-container>
    </div>
    <div>
      <md-input-container class="col s12">
        <label class="fontSize" style="font-size: 15px;">Par numéro de commande</label>
        <input for="clientName" ng-change="filterCommande(num_commande)" ng-model="num_commande" name="num_commande" ng-model-options="{debounce: 1000}" minlength="2" maxlength="10">
      </md-input-container>
    </div>
    <div ng-if="allow_filters.rules_filter_canFilterDate">
      <h2 class="md-subhead">Filtrer par date :</h2>
      <ob-daterangepicker class="col s12" style="font-size:10px;" on-apply="filterDate(start, end)" range="vm.range"></ob-daterangepicker>
    </div>
    <div ng-if="allow_filters.rules_filter_canFilterType">
      <h2 class="md-subhead">Type d'affichage</h2>
      <md-radio-group ng-model="value" ng-change="getTypeFilter(value)">
        <md-radio-button value="none"  class="md-primary"> toutes </md-radio-button>
        <md-radio-button value="CommercialInvoice"> Factures seulement </md-radio-button>
        <md-radio-button value="CreditNoteGoodsAndServices"> Avoir seulement </md-radio-button>
      </md-radio-group>
    </div>
    <div ng-if="allow_filters.rules_filter_canFilterPRice">
      <h2 class="md-subhead">Filter les prix</h2>
      <rzslider
        rz-slider-model="slider.min"
        rz-slider-high="slider.max"
        rz-slider-options="slider.options">
      </rzslider>
    </div>
    <p class="md-subhead">{{userText}}</p>
  </div>
  </form> -->
