<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Nouveau billet">
        <md-content class="">
          <div layout="column" style="margin-top: 10px;width: 85%;margin-left: 10%;" ng-cloak ng-repeat="infoMail in infoMails">
            <h4 style="border-bottom: 3px solid #e40514;color: rgb(117, 117, 117);margin-left: 33px;">Demande de Réclamation</h4>
            <md-content style="overflow: hidden;background-color: #FFFFFF;" layout-padding>
              <form name="emailForm">
                <div class="row">
                  <md-input-container style="width: 100%;"  >
                      <md-icon md-svg-src="img/icons/from.svg" class="name" style="color:#757575;!important;"></md-icon>
                    <md-select ng-model="expediteur"class="select_generic_email" placeholder="Veuillez selectionner votre adresse mail">
                      <md-option  ng-repeat="profilEmail in profilEmails" value="{{profilEmail.Email}}">{{profilEmail.Email}}</md-option>
                    </md-select>
                    <div ng-messages="emailForm.clientEmail.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Votre e-mail doit être compris entre 10 et 100 caractères et doit ressembler à une adresse e -mail .
                      </div>
                    </div>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container style="background-color:#ffffff; border-radius:5px;" class="md-block">
                    <md-icon md-svg-src="img/icons/mail.svg" class="name" style="color:#757575;!important;"></md-icon>
                    <input style="padding-left: 10px;" ng-model="infoMail.email_destination" disabled>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container style="background-color:#ffffff; border-radius:5px;" class="md-block">
                    <label  style="font-size:15px;">Objet</label>
                    <md-icon md-svg-src="img/icons/objet.svg" class="name" style="color:#757575;!important;"></md-icon>
                    <input required name="objet" ng-model="objet" style="padding-left: 10px;font-family: 'gotham';">
                    <div ng-messages="emailForm.objet.$error">
                      <div ng-message="required">Ce champs est obligatoire.</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container style="background-color:#ffffff; border-radius:5px;" class="md-block">
                    <wysiwyg textarea-id="question" textarea-class="form-control"  ng-model="body" textarea-height="300px" textarea-name="textareaQuestion" textarea-required ng-model="yourModel.model" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
                  </md-input-container>
                </div>
                <button ng-click="sendMail(expediteur,infoMail.email_destination,objet,body)"style="width: 100%;background-color: #75757;" type="button" class="btn_email">Envoyer</button>
              </form>
            </md-content>
          </div>
        </md-content>
      </md-tab>
      <md-tab ng-click="getBillets()"label="Suivi de vos billets ">
        <md-content class="">
          <h4 style="border-bottom: 3px solid #e40514;color: rgb(117, 117, 117);margin-left: 33px;">Suivi de vos Réclamations</h4>
          <div class="col s12 m12 l3">
            <div class="col s12" ng-click="getMailsByBillet(billet.BILLET_ID);displayMails();infoReponse(billet.BILLET_ID)" ng-repeat="billet in billets">
              <a class="button_email teach-me_email">
                <div class="col s12 m12 l12">
                  <div class="row">
                    <div class="col s12 m12 l12">
                      <span class=" truncate item_email">Billet n° #{{billet.BILLET_ID}}_{{billet.email_title }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m12 l12">
                      <span class="truncate item_email ">{{billet.DEPOSITED_DATE | date:' dd-MM-yyyy'}}</span>
                    </div>
                  </div>
                </div>
                <i class="chevron"></i>
                <div class="clear"></div>
              </a>
            </div>
          </div>
          <div class="col s12 m12 l9 divHistory">
            <md-content ng-repeat="info in infoReponses" style="overflow: hidden;background-color: #FFFFFF;" layout-padding>
              <form ng-show="showReponse" name="emailForm">
                <div  class="row">
                  <md-input-container style="background-color:#ffffff; border-radius:5px;" class="md-block">
                    <wysiwyg textarea-id="question"  ng-model="body_reponse" textarea-class="form-control"  textarea-height="300px" textarea-name="textareaQuestion" textarea-required ng-model="yourModel.model" enable-bootstrap-title="false" textarea-menu="customMenu"></wysiwyg>
                  </md-input-container>
                </div>
                <button ng-click="sendMail_reponse(info.email_sender,info.email_destination,info.email_title,body_reponse,info.BILLET_ID)"style="width: 100%;background-color: #75757;" type="button" class="btn btn-primary">Envoyer</button>
              </form>
            </md-content>
            <div ng-attr-id="{{ 'object-' + mail.BILLET_ID }}" class="col s12">
              <div ng-show="showMails" class="col s12 barre_reponse">
                <button ng-click="displayreponse()"style="margin-right: -11px;border-top-right-radius: 5px;width: 25%;background-color: #75757;float:right;" type="button" class="btn_email btn_reponse ">Répondre</button>
              </div>
              <md-content style="overflow: hidden;background-color: #f3f3f3;color: black;padding-top: 15px;margin-top: -1px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;" ng-show="showMails"layout-padding>
                <v-accordion class="vAccordion--default">
                  <v-pane id="{{ ::pane.id }}" ng-repeat="mail in mails"  ng-bind-html-unsafe="mail.email_body" expanded="pane.isExpanded">
                    <v-pane-header >
                      <span style="font-size: 14px;">Billet n° #{{mail.BILLET_ID}}_{{mail.email_title }} / Mail :  {{ ::mail.EMAIL_ID }}</span>
                    </v-pane-header>
                    <v-pane-content >
                      <md-content style="border: 2px solid #d8d8d8;border-radius: 5px;font-size: 14px;" layout-padding>
                        <div class="row">
                          <div class="col s4">
                            <div class="row">
                              <label  style="font-size:15px;">Objet</label>
                            </div>
                            <div class="row">
                              <md-input-container style="width: 100%;"  >
                                <span>{{mail.email_title}}</span>
                              </md-input-container>
                            </div>
                          </div>
                          <div class="col s4">
                            <div class="row">
                              <label  style="font-size:15px;">Expéditeur</label>
                            </div>
                            <div class="row">
                              <md-input-container style="width: 100%;"  >
                                <span>{{mail.email_sender}}</span>
                              </md-input-container>
                            </div>
                          </div>
                          <div class="col s4">
                            <div class="row">
                              <label  style="font-size:15px;">Destinataire</label>
                            </div>
                            <div class="row">
                              <md-input-container style="width: 100%;"  >
                                <span>{{mail.email_destination}}</span>
                              </md-input-container>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col s2">
                            <label  style="font-size:15px;">Corps du mail</label>
                          </div>
                          <div class="col s10">
                            <div ng-bind-html="to_trusted(mail.email_body)"></div>
                          </div>
                        </div>
                      </md-content>
                    </v-pane-content>
                  </v-pane>
                </v-accordion>
              </md-content>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
