<md-toolbar  class="animate-show" ng-style="favorite_color ? {'background-color': favorite_color } : { 'background-color': '#2196F3' }">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
      <md-icon  md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
    <span flex></span>
    <h1>Travel Planet - Data Visualisation</h1>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="logout" ng-click="logOut()">
      <md-icon  md-svg-icon="img/icons/logout.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<section layout="row">
<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" style="position:fixed;">
<md-toolbar class="" ng-style="favorite_color ? {'background-color': favorite_color } : { 'background-color': '#2196F3' };" style=" padding-bottom': '30px;">
    <div>
        <img id="imgSidenav" ng-src="{{logo}}"/>
    </div>
    <span flex></span>
    <div padding="" style="text-align:center">
        <div class="md-title">{{firstname}} {{lastname}}</div>
        <div class="md-body-1">{{company}}</div>
    </div>
</md-toolbar>
<!-- menu liste -->
<md-list>
  <md-content flex="" =layout-padding="">
      <md-list-item class="md-1-line" role="link" md-ink-ripple ng-repeat="data in view">
        <md-icon md-svg-icon="img/icons/{{data.svg}}" aria-label="{{data.onglet}}"></md-icon>
        <div class="md-list-item-text" ng-click="goToView(data.id)">
          <span style="color:#757575" class="md-subhead">{{data.name}}</span>
        </div>
        <span flex></span>
      </md-list-item>
  </md-content>
</md-list>
</md-sidenav>

<div ui-view class="container-fuild" flex ></div>
