<div style="height:100vh">
  <div class="row" style="max-width: none; margin-left: 0.0rem; height: 100%;  width: 100%; margin-bottom:0px;">
    <div style="background-color:#402F73; height:100%; position:absolute;" class="col s12 s5 l4">
      <div data-anim-sync="true" class="col s12 anim-in-out anim-slide-below-fade" style="position:absolute; padding:0;margin-top: 45%;" ui-view>
      </div>
    </div>
    <div class="col s12 s7 l8 offset-l4 valign hide-on-med-and-down" style="padding: 0; height:100%">
      <div style="background: url('/img/travel_planet_logo.png') center no-repeat; background-color:white;" id="img-logo"> </div>
    </div>
  </div>
</div>
