<div class="valign row center" style=" width: 100%;">
  <div class="col s12">
      <h3 style="color:white" class="h5login">Connexion</h3>
  </div>
  <div class="col s12 center">
    <form name="loginForm" ng-submit="stepVerify()">
      <md-content layout-padding class="md-content-community">
        <md-input-container>
          <label style="color: white; padding-left: 9px;">Nom d'utilisateur</label>
          <input style="color: white;" ng-model="username" required="true">
        </md-input-container>
      </md-content>
      <div class="col s12 center cssFade">
        <a type="submit" ng-disabled="loginForm.$invalid" style="background-color:#4CAF50"  ng-click="stepVerify()" class="waves-effect waves-light btn">Continuer</a>
      </div>
    </form>
  </div>
</div>
