<div class="login-card">
  <div class="col-md-12">
    <form name="loginForm">
      <div id = "img"> </div>
      <input class="col-md-12" type="text" name="user" ng-model="project.username" placeholder="Nom d'utilisateur" required="true">
      <input class="col-md-12" type="password" name="pass" ng-model="project.password" placeholder="Mot de passe" required="true">
      <!-- <input type="submit" ng-disabled="loginForm.$invalid" name="login" class="md-primary md-raised" value="Connexion" ng-click="login(project)"> -->
      <md-button ng-disabled="loginForm.$invalid" flex name="login" class="col-lg-12 md-primary md-raised" style="margin:0px; background-color:#0077BB;" value="Connexion" ng-click="login(project)">Connexion</md-button>
    </form>
  </div>
</div>
