<div ng-controller="mailBusCtrl" ng-init="" class="body_bus">
    <div class="container">
        <div class="row">
            <div class="center col s12">
                <h3 class="white_bus">Réserver votre trajet en Bus</h3> 
            </div>
        </div>
        <div class="row">
            <div class="center col s3">
                 <div class="row">
                    <img style="border-radius:50%;box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);" src="../img/pen.svg" width="80" height="80"> 
                 </div>
                 <div class="row">
                    <p>Sélectionnez les villes de départ puis d'arrivée<p> 
                 </div>
            </div>
            <div class="center col s1">
                <img src="../img/next.svg" width="80" height="80"> 
            </div>
            <div class="center col s3">
                <div class="row">
                    <img  style="border-radius:50%;box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);" src="../img/calendar.svg" width="80" height="80">
                </div>
                <div class="row">
                    <p>Sélectionnez votre date de départ puis d'arrivée<p> 
                 </div>
            </div>
            <div class="center col s1">
                <img src="../img/next.svg" width="80" height="80"> 
            </div>
            <div class="center col s3">
                <div class="row">
                    <img  style="border-radius:50%;box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);" src="../img/bus.svg" width="80" height="80">
                </div>
                 <div class="row">
                    <p>Réserver votre trajet en Bus parmis les propositions<p> 
                 </div>
            </div>
        </div>

        <form autocomplete="off" ng-submit="submit()">
            <div style="margin:0 !important" class="row col s12">
                <div class="col s1">
                    <label style="font-size: 20px;" class="white_bus">Type :</label>
                </div>
                <md-radio-group ng-model="aller_retour">
                    <div class="col s1 offset-s1">
                        <md-radio-button value="aller" class="white_bus" >Aller</md-radio-button>
                    </div>
                    <div class="col s2 offset-s1">
                        <md-radio-button value="aller_retour" class="white_bus"> Aller -retour </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <div style="margin:0 !important" class="row col s12">
                <div style="width: 87.5% !important" class="col s11">
                    <hr style="margin-top:0; border-top: 2px solid #eee;"/>
                </div>
            </div>
            
            <div style="margin:0 !important" class="row col s12">
                <div class="col s5">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label class="white_bus" style="margin: 0; margin-top: 10px;">  Ville de départ : </label></div>
                        <div class="col s6"><img style="padding: 8px;float:right; margin-right: -15px;" src="../img/play-button.svg" width="40" height="40"></div>
                    </div>
                    <angucomplete id="departure_city"
                        placeholder="Sélectionnez une ville de départ"
                        pause="400"
                        selectedobject="cityName"
                        url="http://151.80.121.114:5555/api/departureBus/"
                        titlefield="departure_city_name, departure_country_code"
                        inputclass=""/>

                </div>
                <div class="col s5 offset-s1">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label class="white_bus" style="margin: 0; margin-top: 10px;">  Ville d'arrivée : </label></div>
                        <div class="col s6"><img style="float: right;margin-right: -15px;" src="../img/racing-flags.svg" width="40" height="40"></div>
                    </div>
                    <angucomplete id="members"
                        placeholder="Sélectionnez une ville d'arrivée"
                        pause="300"
                        minlength="2"
                        url="{{getUrl}}"
                        selectedobject="getArrivalData"
                        titlefield="arrival_city_name"
                        inputclass=""/>
                </div>
            </div>
            <div style="margin:0 !important" class="row col s12">
                <div class="col s5">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label class="white_bus" style="margin: 0; margin-top: 10px;">  Date de départ : </label></div>
                    </div>
                    <datepicker date-format="yyyy-MM-dd" date-set="" class="ng-isolate-scope">
                        <input class="input_workflow"  style="border: 3px solid rgb(214, 214, 214); background-color: white; padding-left: 5px;" ng-model="date_depature" type="text"/>
                    </datepicker>
                </div>
                <div ng-show="aller_retour === 'aller_retour'" class="col s5 offset-s1">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label class="white_bus" style="margin: 0; margin-top: 10px;">  Date de retour : </label></div>
                    </div>
                    <datepicker date-format="yyyy-MM-dd" date-set="" class="ng-isolate-scope">
                        <input class="input_workflow"  style="border: 3px solid rgb(214, 214, 214); background-color: white; padding-left: 5px;" ng-model="date_arrival" type="text"/>
                    </datepicker>
                </div>
            </div>
            <div style="margin:0 !important" class="row col s12">
                <div class="col s6">
                    <md-button  type="submit" style="width: 50%; margin: 0;" class="md-raised">Trouver un trajet</md-button>
                </div>
            </div>
        </form>
        <div ng-if="trajetsResult.data.length > 0" class="row">
            <div class="row">
                <div class="col s12">
                    <p class="white_bus p_label" >Aller :</p>
                </div>
            </div>
            <div class="col s12">
                <table class="highlight responsive-table centered table_trajet">
                    <thead>
                    <tr style="height:50px">
                        <th class="col s4 marg1" data-field="stationStart">Station départ - Heure départ </th>
                        <th class="col s4 marg1" data-field="stationArrival">Station arrivée - Heure arrivée</th>
                        <th class="col s2 marg1" data-field="tempsTrajet">Temps de trajet</th>
                        <th class="col s2 marg1" data-field="tempsTrajet">Réserver</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr  ng-repeat="trajet in trajetsResult.data">
                        <td style="height:50px"class="col s4 td_trajet marg1">{{trajetsResult.included.stations[0].attributes.name}} - {{parseDate(trajet.attributes.departure_time) | date: 'dd-MM-yyyy HH:mm'}}</td>
                        <td style="height:50px"class="col s4 td_trajet marg1">{{trajetsResult.included.stations[1].attributes.name}} - {{parseDate(trajet.attributes.arrival_time) | date: 'dd-MM-yyyy HH:mm' }} </td>
                        <td style="height:50px"class="col s2 td_trajet marg1">{{parseTime(trajet.attributes.duration_in_seconds) |  date: 'HH:mm' }}</td>
                        <td style="height:50px"class="col s2 td_trajet marg1"><md-button  ng-click="select_trajet(trajet,trajetsResult.included )" style="width: 50%; margin: 0;" class="md-raised">Réserver</md-button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="trajetsResult_return.data.length > 0" class="row">
            <div class="row">
                <div class="col s12">
                    <p class="white_bus p_label" >Retour :</p>
                </div>
            </div>
            <div class="col s12">
                <table class="highlight responsive-table centered table_trajet">
                    <thead>
                    <tr style="height:50px">
                        <th class="col s4 marg1" data-field="stationStart">Station départ - Heure départ </th>
                        <th class="col s4 marg1" data-field="stationArrival">Station arrivée - Heure arrivée</th>
                        <th class="col s2 marg1" data-field="tempsTrajet">Temps de trajet</th>
                        <th class="col s2 marg1" data-field="tempsTrajet">Réserver</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr  ng-repeat="trajet in trajetsResult_return.data">
                        <td style="height:50px"class="col s4 td_trajet marg1">{{trajetsResult_return.included.stations[0].attributes.name}} - {{parseDate(trajet.attributes.departure_time) | date: 'dd-MM-yyyy HH:mm'}}</td>
                        <td style="height:50px"class="col s4 td_trajet marg1">{{trajetsResult_return.included.stations[1].attributes.name}} - {{parseDate(trajet.attributes.arrival_time) | date: 'dd-MM-yyyy HH:mm' }} </td>
                        <td style="height:50px"class="col s2 td_trajet marg1">{{parseTime(trajet.attributes.duration_in_seconds) |  date: 'HH:mm' }}</td>
                        <td style="height:50px"class="col s2 td_trajet marg1"><md-button  ng-click="select_trajet(trajet,trajetsResult_return.included )" style="width: 50%; margin: 0;" class="md-raised">Réserver</md-button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>