<div ng-controller="mailBusCtrl" ng-init="" class="body_bus">
    <div class="container">
        <div class="row">
            <div class="center col s12">
                <h3 class="white_bus">Réserver votre trajet en Bus</h3> 
            </div>
        </div>
        <div class="row">
            <div class="center col s3">
                 <div class="row">
                    <img style="border-radius:50%;box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);" src="../img/pen.svg" width="80" height="80"> 
                 </div>
                 <div class="row">
                    <p>Sélectionnez les villes de départ puis d'arrivée<p> 
                 </div>
            </div>
            <div class="center col s1">
                <img src="../img/next.svg" width="80" height="80"> 
            </div>
            <div class="center col s3">
                <div class="row">
                    <img  style="border-radius:50%;box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);" src="../img/calendar.svg" width="80" height="80">
                </div>
                <div class="row">
                    <p>Sélectionnez votre date de départ puis d'arrivée<p> 
                 </div>
            </div>
            <div class="center col s1">
                <img src="../img/next.svg" width="80" height="80"> 
            </div>
            <div class="center col s3">
                <div class="row">
                    <img  style="border-radius:50%;box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.42);" src="../img/bus.svg" width="80" height="80">
                </div>
                 <div class="row">
                    <p>Réserver votre trajet en Bus parmis les propositions<p> 
                 </div>
            </div>
        </div>
        <div style="margin:0 !important" class="row col s12">
            <div class="col s5 offset-s1">
                <form ng-submit="">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label style="margin: 0; margin-top: 10px;">  Ville de départ : </label></div>
                        <div class="col s6"><img style="padding: 8px;float:right; margin-right: -15px;" src="../img/play-button.svg" width="40" height="40"></div>
                    </div>
                    <angucomplete id="departure_city"
                        placeholder="Sélectionnez une date de départ"
                        pause="400"
                        selectedobject="allo"
                        url="http://151.80.121.114:5555/api/departureBus/"
                        titlefield="departure_city_name, departure_country_code"
                        inputclass=""/>
                </form>
            </div>
            <div class="col s5 offset-s1">
                <form ng-submit="">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label style="margin: 0; margin-top: 10px;">  Ville d'arrivée : </label></div>
                        <div class="col s6"><img style="float: right;margin-right: -15px;" src="../img/racing-flags.svg" width="40" height="40"></div>
                    </div>
                     <angucomplete id="members"
                        placeholder="Sélectionnez une date de départ"
                        pause="400"
                        selectedobject="allo"
                        url="http://151.80.121.114:5555/api/departureBus/"
                        titlefield="departure_city_name, departure_country_code"
                        inputclass=""/>
                </form>
            </div>
        </div>
        <div style="margin:0 !important" class="row col s12">
            <div class="col s5 offset-s1">
                <form ng-submit="">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label style="margin: 0; margin-top: 10px;">  Date de départ : </label></div>
                    </div>
                    <datepicker date-format="yyyy-MM-dd" date-set="" class="ng-isolate-scope">
                        <input class="input_workflow"  style="border: 3px solid rgb(214, 214, 214); background-color: white; padding-left: 5px;" ng-model="date_depature" type="text"/>
                    </datepicker>
                </form>
            </div>
            <div class="col s5 offset-s1">
                <form ng-submit="">
                    <div style="margin:0 !important" class="row">
                        <div class="col s6"><label style="margin: 0; margin-top: 10px;">  Date d'arrivée : </label></div>
                    </div>
                    <datepicker date-format="yyyy-MM-dd" date-set="" class="ng-isolate-scope">
                        <input class="input_workflow" style="border: 3px solid rgb(214, 214, 214); background-color: white; padding-left: 5px;" ng-model="date_arrival" type="text"/>
                    </datepicker>
                    
                </form>
            </div>
        </div>
        <div style="margin:0 !important" class="row col s12">
            <div class="col s5 offset-s1">
                <md-button style="width: 50%; margin: 0;" class="md-raised">Trouver un trajet</md-button>
            </div>
            
        </div>
    </div>
</div>