<div class="container" style="background-color:#FFFFFF;" >
  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Personnel">
          <md-content class="md-padding">
            <h1 class="md-display-2">Personnel</h1>
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                    <div id="wrapper" ng-switch="user.sexe">
                      <div ng-if="profils.Customer_Gender == 'H' ">
                        <img style="width:259;height:175;" src="img/Avatar-Man.jpg">
                      </div>
                      <div ng-if="profils.Customer_Gender == 'F'">
                        <img style="width:259;height:175;" src="img/Avatar-Woman.jpg">
                      </div>
                      <div ng-if="profils.Customer_Gender == null">
                        <img style="width:259;height:175;" src="img/mario.jpg">
                      </div>

                      <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-action">
                      <div class="">
                        <ul class="">
                          <li>
                            <a href="#perso" class="">Personnel</a>
                          </li>
                          <li>
                            <a hre="#"  class="">Paiement</a>
                          </li>
                          <li>
                            <a href="#"  class="">Livraison</a>
                          </li>
                          <li>
                            <a href="#" class="">Préférences</a>
                          </li>
                          <li>
                            <a href="#"  class="">Mot de passe</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-9">
                <div class="panel">
                  <div id="perso" class="panel-header">Personnel</div>
                  <div class="container">
                  </br>
                  <div class="row">
                    <div class="col-md-2">
                      <label class="right">Sexe <md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                    </div>
                    <div class="col-md-10">
                      <input class="with-gap" name="sexe" type="radio" id="H" ng-model="profils.Customer_Gender" value="H" ng-checked="{{profils.Customer_Gender=='M'}}" />
                      <label for="H">M. </label>
                      <input class="with-gap" name="sexe" type="radio" id="F" ng-model="profils.Customer_Gender" value="F"  ng-checked="{{profils.Customer_Gender=='F'}}"/>
                      <label for="F">Mme. </label>
                      <input class="with-gap" name="sexe" type="radio" id="O" ng-model="profils.Customer_Gender" ng-checked="{{profils.Customer_Gender==null}}" />
                      <label for="O">Autre </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <label aria-label="prenom"  class="right">Prénom <md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon> </label>
                    </div>
                    <div class="col-md-10">
                      <input class="input_design w400px" name="prenom" ng-model="profils.Customer_GivenName" ng-minlength="1" ng-maxlength="20" type="text" class="validate" required>
                    </div>
                    <div class="col-md-2">
                      <label aria-label="nom"  class="right">Nom <md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                    </div>
                    <div class="col-md-10">
                      <input class="input_design w400px" name="nom" ng-model="profils.Customer_surName"type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                    </div>
                    <div class="col-md-2">
                      <label  class="right">Date de naissance <md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                    </div>
                    <div class="col-md-10">
                      <md-input-container class="w75px">
                        <md-select aria-label="jours"  name="birth_jours" ng-model="user.birth_jours" >
                          <md-option  ng-repeat="oneJours in jours"  value="{{oneJours.name}}">{{oneJours.name}}</md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container class="birth_mois">
                        <md-select aria-label="mois"  name="birth_mois" ng-model="user.birth_mois" >
                          <md-option  ng-repeat="oneMois in mois"  value="{{oneMois.name}}">{{oneMois.name}}</md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container class="birth_annee">
                        <md-select  name="birth_annee" ng-model="user.birth_annee" >
                          <md-option  ng-repeat="oneAnnee in annee"  value="{{oneAnnee.name}}">{{oneAnnee.name}}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <!--- Parti eMail  ----------------------------------->
                    <div class="col-md-2">
                      <label  class="right">Adresse Mail <md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                    </div>
                    <div class=" col-md-10">
                      <div ng-show='listMail.length == 0 && profils.Email.length == 0' class=" ">
                        <p>Mail Manquant</p>
                      </div>
                      <div>
                        <div ng-show='listNumTel.length > 0 || profils.PhoneNumber.length > 0' class="no-phone-numbers">
                          <p>{{profils.Email}}<p>
                            <p ng-repeat="mail in listMail">{{mail.mail}}<p>
                            </div>
                          </div>
                          <div ng-show="ajouterMail" ng-click="showPanelMail()" class="add link-icon">
                            <span class="addProfil link-icon__text">
                              <md-icon md-svg-icon="img/icons/bleed.svg"></md-icon>
                              Ajouter un Mail
                            </span>
                          </div>
                          <div class="row">
                            <form ng-submit="submitMail()">
                              <div class="panel w415px h135px" ng-show="mail">
                                <div class="col s12">
                                  <label for="mail">Ajoutez un Mail :</label>
                                </div>
                                <div class="col s12">
                                  <input class="input_design w200px" name="mail" ng-model="user.mail" type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                                </div>
                                <md-button class="right md-raised" type="submit" value="Submit">Ajouter</md-button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <!--- Fin Parti eMail  ----------------------------------->

                        <!--- Parti NumTelephone  ----------------------------------->
                        <div class="col-md-2">
                          <label  class="right">N° de téléphone <md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                        </div>
                        <div class="col-md-10">
                          <div ng-show='listNumTel.length == 0 && profils.PhoneNumber.length == 0'  class=" ">
                            <p>N° de téléphone manquant</p>
                          </div>
                          <div ng-show='listNumTel.length > 0 || profils.PhoneNumber.length > 0' class="no-phone-numbers">
                            <p>{{profils.PhoneNumber}}<p>
                              <p ng-repeat="num in listNumTel">{{num.code}} {{num.numero}}<p>
                              </div>
                              <div ng-show="ajouterNum" ng-click="showPanelTel()" class="add link-icon" >
                                <span class="addProfil link-icon__text">
                                  <md-icon  md-svg-icon="img/icons/bleed.svg"></md-icon>
                                  Ajouter un numéro de téléphone
                                </span>
                              </div>
                              <div class="row">
                                <form ng-submit="submitNumPhone()">
                                  <div class="panel w415px h185px" ng-show="phone">
                                    <div class="col s12">
                                      <label for="phone_country">Choisissez un pays:</label>
                                      <md-input-container class="wPays">
                                        <md-select ng-change='getCodeNumber(user.pays_tel)' name="pays_tel" ng-model="user.pays_tel" >
                                          <md-option  ng-repeat="country in country_phone" value="{{country.nicename}}">{{country.nicename}}</md-option>
                                        </md-select>
                                      </md-input-container>
                                      <label for="phone_number">Ajoutez un numéro de téléphone :</label>
                                    </div>
                                    <div class="col-md-2">
                                      <input class="input_design w50px" ng-disabled="user.pays_tel" type="text" ng-model="user.phoneCode">
                                    </div>
                                    <div class="col-md-10">
                                      <input class="input_design w200px" name="user.numPhone" type="text" ng-model="user.numPhone" ng-minlength="1" ng-maxlength="30">
                                    </div>
                                    <md-button class="right md-raised" type="submit" value="Submit">Ajouter</md-button>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!--- Fin Parti NumTelephone  ----------------------------------->
                            <!--- Parti Urgence  ----------------------------------->
                            <div class="col-md-2">
                              <label  class="right">Personne à contacter en cas d'urgence<md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                            </div>
                            <div class="col-md-10">
                              <input class="input_design w400px" name="nom" ng-model="profils.nameUrgence"type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                            </div>
                            <div class="col-md-2">
                              <label  class="right">N° à contacter en cas d'urgence<md-icon  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                            </div>
                            <div class="col-md-10">
                              <input class="input_design w400px" name="nom" ng-model="profils.numUrgence"type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                            </div>
                            <!--- Fin Parti Urgence  ----------------------------------->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Admin">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Admin</h1>
                  {{community}}
              </md-tab>
              <md-tab label="three">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Tab Three</h1>
                  <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </br>
