<div class="container">
  <div ng-cloak>
    <md-content style="background-color: #EEE;" class="md-padding">
      <div id="admin" class="panel-header">Gestionnaire de profil<md-icon class="right" md-svg-icon="img/icons/admin.svg"></md-icon></div>
      <div class="panel">
        </br>
        <div class="row">
          <label class="col-md-3 col-xs-12 labelProfil ">Selectionner une communauté de voyageur</label>
          <div class="col-md-3 col-xs-12">
            <md-input-container class="margin-left">
              <md-select ng-change='getusersCommunity(profils.site_id)'aria-label="chooseCommunity"  name="chooseCommunity" ng-model="chooseCommunity" >
                <md-option ng-repeat="oneCommunity in community track by $index" value="{{oneCommunity}}">{{oneCommunity.SITE_LIBELLE}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="addUserAnim" ng-if="usersCommunity">
            <label class="col-md-2 col-xs-12 labelProfil">Ajouter un voyageur à la communauté</label>
            <div class="col-md-4 col-xs-12">
              <div ng-click="showPanelUser()" class="add link-icon">
                <span class="addProfil link-icon__text"><md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>Ajouter un voyageur à la communauté</span>
              </div>
            </div>
          </div>
          </br>
          <div class="col-md-11">
            <div class="addUserAnim" ng-if="usersCommunity && ajouterUser == false">
              <div class="row">
                <label class="col-md-3 labelProfil">Effectuer une recherche</label>
                <div class="col-md-9">
                  <input class="input_generic " name="search" ng-model="search" type="text">
                </div>
              </div>
              <md-table-container class="col-md-12" style="width:100%">
                <table md-table ng-model="selected" class="tabSearchVoyageur">
                  <thead md-head md-order="query.order" >
                    <tr md-row>
                      <th md-column>ID</th>
                      <th md-column>Nom</th>
                      <th md-column>Prénom</th>
                      <th md-column>Status profil</th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr ng-click="profilchange(user.UID)"md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="user in usersCommunity | filter: search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                      <td md-cell>{{user.UID}}</td>
                      <td md-cell>{{user.Customer_surName}}</td>
                      <td md-cell>{{user.Customer_GivenName}}</td>
                      <td md-cell><div class="rondVert"></div></td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
              <md-table-pagination class="TabPagination" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{usersCommunity.length}}"></md-table-pagination>
              <div class="clear"></div>
            </div>
            <div class="addUserAnim col-md-12" ng-if="ajouterUser == true">
              <div class="panel">
                <div class="panel-header panel-header_min">Ajouter un voyageur {{chooseCommunity.SITE_LIBELLE}} <md-icon ng-click="hidePanelUser()" class="right logo_lock" md-svg-icon="img/icons/delete-button.svg"></md-icon></div>
                <div class="col-md-2 col-xs-12">
                  <label class="right_profil labelProfil">Nom</label>
                </div>
                <div class=" col-md-4 col-xs-12">
                  <div class=" ">
                    <input class="input_generic right_profil" name="chargeVoy" ng-model="user.nomChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                  </div>
                </div>
                <div class="col-md-2 col-xs-12">
                  <label  class="right_profil labelProfil">Prénom</label>
                </div>
                <div class=" col-md-4 col-xs-12">
                  <div class=" ">
                    <input class="input_generic" name="chargeVoy" ng-model="user.prenomChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                  </div>
                </div>
                <div class="col-md-2 col-xs-12">
                  <label  class="right_profil labelProfil">Identifiant</label>
                </div>
                <div class=" col-md-4 col-xs-12">
                  <div class=" ">
                    <input class="input_generic" name="chargeVoy" ng-model="user.identifiantChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                  </div>
                </div>
                <div class="col-md-2 col-xs-12">
                  <label  class="right_profil labelProfil">Mail</label>
                </div>
                <div class=" col-md-4 col-xs-12">
                  <div class=" ">
                    <input class="input_generic" name="chargeVoy" ng-model="user.mailChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <button type="submit" class="right md-raised btn btn-success" value="Submit">Ajouter</button>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="h1profil md-display-2">Modifier le profil de {{profils.Customer_surName }} {{profils.Customer_GivenName}}</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="backgroung_grey card">
            <div class="card-image">
              <div id="wrapper" ng-switch="user.sexe">
                <div ng-if="profils.Customer_Gender == 'M' ">
                  <img class="col-xs-6 img_profil" src="img/Avatar-Man.jpg">
                </div>
                <div ng-if="profils.Customer_Gender == 'F'">
                  <img class="col-xs-6 img_profil" src="img/Avatar-Woman.jpg">
                </div>
                <div ng-if="profils.Customer_Gender == null">
                  <img class="col-xs-6 img_profil" src="img/mario.jpg">
                </div>
              </div>
              <div class="col-xs-6 card-action">
                <ul class="">
                  <li>
                    <a href="#/profil/#perso" class="liensprofil">Personnel</a>
                  </li>
                  <li>
                    <a href="#/profil/#paiement"  class="liensprofil">Paiement</a>
                  </li>
                  <li>
                    <a href="#/profil/#livraison"  class="liensprofil">Livraison</a>
                  </li>
                  <li>
                    <a href="#/profil/#preference" class="liensprofil">Préférences</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div id="perso" class="panel-header">Personnel <md-icon class="right" md-svg-icon="img/icons/spy.svg"></md-icon><div class="clear"></div></div>
          <div class="panel"> <!--- Début Panel personnel  ----------------------------------->
            <!-- <div class="container"> -->
              </br>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <label class="right_profil labelProfil">Sexe <md-icon class="logo_lock" md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                </div>
                <div class="col-md-8 col-xs-12 radio_generic">
                  <input class="with-gap" name="sexe" type="radio" id="M" ng-model="profils.Customer_Gender" value="M" ng-checked="{{profils.Customer_Gender=='M'}}" />
                  <label for="M">M. </label>
                  <input class="with-gap" name="sexe" type="radio" id="F" ng-model="profils.Customer_Gender" value="F"  ng-checked="{{profils.Customer_Gender=='F'}}"/>
                  <label for="F">Mme. </label>
                  <input class="with-gap" name="sexe" type="radio" id="O" ng-model="profils.Customer_Gender" ng-checked="{{profils.Customer_Gender==null}}" />
                  <label for="O">Autre </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-xs-12">
                  <label aria-label="prenom"  class="right_profil labelProfil">Prénom <md-icon class="logo_lock" md-svg-icon="img/icons/locked-padlock.svg"></md-icon> </label>
                </div>
                <div class="col-md-8 col-xs-12">
                  <input class="input_generic" name="prenom" ng-model="profils.Customer_GivenName" ng-minlength="1" ng-maxlength="20" type="text" class="validate" required>
                </div>
                <div class="col-md-4 col-xs-12">
                  <label aria-label="nom"  class="right_profil labelProfil">Nom <md-icon class="logo_lock" md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                </div>
                <div class="col-md-8 col-xs-12">
                  <input class="input_generic" name="nom" ng-model="profils.Customer_surName"type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                </div>
                <div class="col-md-4 col-xs-12">
                  <label  class="label_datePicker right_profil labelProfil">Date de naissance</label>
                </div>
                <div class="col-md-8 col-xs-12">
                  <md-input-container flex-gt-md="30">
                    <input mdc-datetime-picker="" date="true" time="false" type="text" id="datetime" min-date="date" ng-model="profils.Customer_BirthDate" class="datePicker_generic md-input">
                </div>
                <div class="col-md-4 col-xs-12">     <!--- Parti eMail  ----------------------------------->
                  <label  class="right_profil labelProfil">Adresse Mail <md-icon class="logo_lock"  md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                </div>
                <div class=" col-md-8 col-xs-12">
                  <div ng-if='listMail.length == 0 && profils.Email.length == 0' class="margin-left">
                    <p class="p_profil">Mail Manquant</p>
                  </div>
                  <div ng-if='listMail.length > 0 || profils.Email.length > 0' class="margin-left no-phone-numbers">
                    <p class="p_profil">{{profils.Email}}</p>
                    <p class="p_profil" ng-repeat="mail in listMail">{{mail.mail}}</p>
                  </div>
                  <div ng-if="ajouterMail" ng-click="showPanelMail()" class="margin-left add link-icon">
                    <span class="addProfil link-icon__text"><md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>Ajouter un Mail</span>
                  </div>
                  <div class="row">
                    <div class="col-md-11">
                      <form ng-submit="submitMail()">
                        <div class="panel" ng-show="mail">
                          <div class="panel-header panel-header_min">Ajouter un mail <md-icon ng-click="hidePanelMail()" class="right logo_lock" md-svg-icon="img/icons/delete-button.svg"></md-icon></div>
                          <div class="col-md-2">
                            <label  class="labelProfil" for="mail"> Mail </label>
                          </div>
                          <div class="col-md-10">
                            <input class="input_generic " name="mail" ng-model="user.mail" type="email" ng-minlength="1" ng-maxlength="30" class="validate" required>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                              <button class="right md-raised btn btn-warning" type="submit" value="Submit">Ajouter</button>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </form>
                    </div>
                  </div>     <!--- Fin Parti eMail  -------------------------------------->
                </div>
              </div>
                <div class="col-md-4 col-xs-12">    <!--- Parti NumTelephone  ----------------------------------->
                  <label  class="right_profil labelProfil">N° de téléphone <md-icon class="logo_lock" md-svg-icon="img/icons/locked-padlock.svg"></md-icon></label>
                </div>
                <div class="col-md-8 col-xs-12">
                  <div ng-if='listNumTel.length == 0 && profils.PhoneNumber.length == 0'  class="margin-left">
                    <p class="p_profil">N° de téléphone manquant</p>
                  </div>
                  <div ng-if='listNumTel.length > 0 || profils.PhoneNumber.length > 0' class="margin-left no-phone-numbers">
                    <p class="p_profil">{{profils.PhoneNumber}}</p>
                    <p class="p_profil"ng-repeat="num in listNumTel">{{num.code}} {{num.numero}}</p>
                  </div>
                  <div ng-if="ajouterNum" ng-click="showPanelTel()" class="margin-left add link-icon" >
                    <span class="addProfil link-icon__text"><md-icon class="logo_lock" md-svg-icon="img/icons/bleed.svg"></md-icon>Ajouter un numéro de téléphone</span>
                  </div>
                  <div class="row">
                    <form ng-submit="submitNumPhone()">
                      <div class="telephone panel" ng-if="phone">
                        <div class="panel-header panel-header_min">Ajouter un numéro de téléphone<md-icon ng-click="hidePanelTel()" class="right logo_lock" md-svg-icon="img/icons/delete-button.svg"></md-icon></div>
                        <div class="col-md-12">
                          <label class="col-md-5 labelProfil label_select" for="phone_country">Choisissez un pays:</label>
                          <div class="col-md-7">
                            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText,'phone','country_phone')" md-item-text="item.nicename">
                              <span md-highlight-text="searchText">{{item.nicename}}</span>
                            </md-autocomplete>
                          </div>
                          <label class="labelProfil" for="phone_number">Ajoutez un numéro de téléphone :</label>
                        </div>
                        <div class="col-md-2">
                          <input class="input_generic" ng-disabled="user.pays_tel" type="text" ng-model="user.phoneCode">
                        </div>
                        <div class="col-md-10">
                          <input class="input_design" name="user.numPhone" type="number" ng-model="user.numPhone" ng-minlength="1" ng-maxlength="30">
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <button class="right md-raised btn btn-warning" type="submit" value="Submit">Ajouter</button>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">                    <!--- Fin Parti NumTelephone  ----------------------------------->
                  <div class="col-md-4">
                    <label class="right_profil labelProfil">Langue préféré</label>
                  </div>
                  <div class="col-md-8">
                    <md-input-container class="select_generic">
                      <md-select aria-label="AirPrefLangID"  name="AirPrefLangID" ng-model="profils.AirPrefLangID" >
                        <md-option value="FR">Français</md-option>
                        <md-option value="GB">Anglais</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="right_profil labelProfil">Devise préféré</label>
                  </div>
                  <div class="col-md-8">
                    <md-input-container class="select_generic">
                      <md-select aria-label="Customer_Currency"  name="Customer_Currency" ng-model="profils.Customer_Currency" >
                        <md-option value="EUR">Euro</md-option>
                        <md-option value="USD">Dollar</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div class="col-md-4">    <!--- Parti Urgence  -------------------------------------------->
                  <label style="margin-top:19px;" class="right_profil labelProfil">Personne à contacter en cas d'urgence</label>
                </div>
                <div class="col-md-8">
                  <input class="input_generic" name="nom" ng-model="profils.Customer_Conbtact_Name" type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                </div>
                <div class="col-md-4">
                  <label  class="right_profil labelProfil">N° à contacter en cas d'urgence</label>
                </div>
                <div class="col-md-8">
                  <input class="input_generic" name="nom" ng-model="profils.numUrgence"type="text" ng-minlength="1" ng-maxlength="30" class="validate" required>
                </div>                    <!--- Fin Parti Urgence  ----------------------------------->
                <div class="col-md-4 col-xs-12">    <!--- Parti valideur  ----------------------------------->
                  <label  class="right_profil labelProfil">Valideur désigné</label>
                </div>
                <div class=" col-md-8 col-xs-12">
                  <div ng-if='listValideur.length == 0 && profils.valideur.length == 0' class=" ">
                    <p class="p_profil col-xs-12">Valideur Manquant</p>
                  </div>
                  <div ng-if='listValideur.length > 0 || profils.PhoneNumber.length > 0' class="no-phone-numbers">
                    <p class="p_profil">{{profils.valideur}}</p>
                    <p class="p_profil" ng-repeat="valideur in listValideur">{{name.valideur}}</p>
                  </div>
                  <div ng-if="ajouterValideur" ng-click="showPanelValideur()" class="add link-icon">
                    <span class="col-xs-12  addProfil link-icon__text">
                      <md-icon class="logo_lock" md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter valideur
                    </span>
                  </div>
                </div>
                <div class="right col-md-2"></div>
                <div class="right col-md-10">
                  <form ng-submit="submitValideur()">
                    <div class="valideur panel" ng-if="valideur">
                    <div class="panel-header panel-header_min">Rechercher & Ajouter un valideur <md-icon ng-click="hidePanelValideur()" class="right logo_lock" md-svg-icon="img/icons/delete-button.svg"></md-icon></div>
                      <div class="col-md-5">
                        <label class="labelProfil" for="valideur">Sélectionner une communauté :</label>
                      </div>
                      <div class="col-md-7">
                        <md-select name="community_valideur" ng-model="user.community_valideur" >
                          <md-option  ng-repeat="oneCommunity_valideur in community_valideur" value="{{oneCommunity_valideur.name}}">{{oneCommunity_valideur.name}}</md-option>
                        </md-select>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Nom</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="valideur" ng-model="user.nomvalideur" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Prénom</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="valideur" ng-model="user.prenomvalideur" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Identifiant</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="valideur" ng-model="user.identifiantvalideur" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Mail</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="valideur" ng-model="user.mailvalideur" type="email" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <button type="submit" class="right md-raised btn btn-success" value="Submit">Rechercher</button>
                      <div class="col-md-11">
                        <table ng-table="vm.tableParams" class="tabProfil table" show-filter="true">
                          <tr ng-repeat="userSearch in $tabData">
                            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">{{userSearch.name}}</td>
                            <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">{{userSearch.age}}</td>
                          </tr>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                          <button class="right md-raised btn btn-warning" type="submit" value="Submit">Ajouter</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="clear"></div>
                </div>                  <!--- Fin Parti valideur  ----------------------------------->
                <div class="col-md-4 col-xs-12">  <!--- Parti chargé de voyage  ----------------------------------->
                  <label  class="right_profil labelProfil">Chargés de voyage</label>
                </div>
                <div class=" col-md-8 col-xs-12">
                  <div ng-if='listChargeVoy.length == 0 && profils.ChargeVoy.length == 0' class=" ">
                    <p class="p_profil col-xs-12">Chargés de voyage</p>
                  </div>
                  <div ng-if='listChargeVoy.length > 0 || profils.chargeVoy.length > 0' class="no-phone-numbers">
                    <p class="p_profil col-xs-12">{{profils.chargeVoy}}</p>
                    <p class="p_profil col-xs-12" ng-repeat="oneChargeVoy in listChargeVoy">{{name.oneChargeVoy}}</p>
                  </div>
                  <div ng-if="ajouterChargeVoy" ng-click="showPanelChargeVoy()" class="add link-icon">
                    <span class="col-xs-12 addProfil link-icon__text">
                      <md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter chargé de voyage
                    </span>
                  </div>
                </div>
                <div class="right col-md-2"></div>
                <div class="right col-md-10 col-xs-12">
                  <form ng-submit="submitChargeVoy()">
                    <div class="chargeVoy panel" ng-if="chargeVoy">
                      <div class="panel-header panel-header_min">Rechercher & Ajouter un chargé de voyage<md-icon ng-click="hidePanelChargeVoy()" class="right logo_lock" md-svg-icon="img/icons/delete-button.svg"></md-icon></div>
                      <div class="col-md-5">
                        <label class="labelProfil" for="chargeVoy">Sélectionner une communauté :</label>
                      </div>
                      <div class="col-md-7">
                        <md-select name="community_chargeVoy" ng-model="user.community_chargeVoy" >
                          <md-option  ng-repeat="oneCommunity_chargeVoy in community_chargeVoy" value="{{oneCommunity_chargeVoy.name}}">{{oneCommunity_chargeVoy.name}}</md-option>
                        </md-select>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Nom</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="chargeVoy" ng-model="user.nomChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Prénom</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="chargeVoy" ng-model="user.prenomChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Identifiant</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="chargeVoy" ng-model="user.identifiantChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Mail</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="chargeVoy" ng-model="user.mailChargeVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <button type="submit" class="right md-raised btn btn-success" value="Submit">Rechercher</button>
                      <div class="col-md-11">
                        <table ng-table="vm.tableParams" class="tabProfil table" show-filter="true">
                          <tr ng-repeat="userSearch in $tabData">
                            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">{{userSearch.name}}</td>
                            <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">{{userSearch.age}}</td>
                          </tr>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                          <button class="right md-raised btn btn-warning" type="submit" value="Submit">Ajouter</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>                  <!--- Fin Parti chargé de voyage  ----------------------------------->
                <div class="col-md-4 col-xs-12">  <!---Début Responsable de voyage  ----------------------------------->
                  <label  class="right_profil labelProfil">Responsable de voyage préféré</label>
                </div>
                <div class=" col-md-8 col-xs-12">
                  <div ng-if='listResponsable.length == 0 && profils.Responsable.length == 0' class=" ">
                    <p class="p_profil">Responsable de voyage préféré</p>
                  </div>
                  <div ng-if='listResponsable.length > 0 || profils.Responsable.length > 0' class="no-phone-numbers">
                    <p class="p_profil">{{profils.Responsable}}</p>
                    <p class="p_profil" ng-repeat="oneResponsable in listResponsable">{{name.oneResponsable}}</p>
                  </div>
                  <div ng-if="ajouterResponsable" ng-click="showPanelResponsable()" class="add link-icon">
                    <span class="col-xs-12 addProfil link-icon__text">
                      <md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter responsable de voyage préféré
                    </span>
                  </div>
                </div>
                <div class="right col-md-2"></div>
                <div class="right col-md-10 col-xs-12">
                  <form ng-submit="submitResponsable()">
                    <div class="responsable panel" ng-if="responsable">
                      <div class="panel-header panel-header_min">Rechercher & Ajouter un responsable de voyage préféré</div>
                      <div class="col-md-5">
                        <label class="labelProfil" for="chargeVoy">Sélectionner une communauté :</label>
                      </div>
                      <div class="col-md-7">
                        <md-select name="community_chargeVoy" ng-model="user.community_chargeVoy" >
                          <md-option  ng-repeat="oneCommunity_chargeVoy in community_chargeVoy" value="{{oneCommunity_chargeVoy.name}}">{{oneCommunity_chargeVoy.name}}</md-option>
                        </md-select>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Nom</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="responsable" ng-model="user.nomResponsable" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Prénom</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="responsable" ng-model="user.prenomResponsable" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Identifiant</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="responsable" ng-model="user.identifiantResponsable" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Mail</label>
                      </div>
                      <div class=" col-md-4">
                        <div class=" ">
                          <input class="input_generic" name="responsable" ng-model="user.mailResponsable" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                        </div>
                      </div>
                      <button type="submit" class="right md-raised btn btn-success" value="Submit">Rechercher</button>
                      <div class="col-md-11">
                        <table ng-table="vm.tableParams" class="tabProfil table" show-filter="true">
                          <tr ng-repeat="userSearch in $tabData">
                            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">{{userSearch.name}}</td>
                            <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">{{userSearch.age}}</td>
                          </tr>
                        </table>
                      </div>
                      <button type="submit" class="right md-raised btn btn-success" value="Submit">Ajouter</button>
                      <button class="right md-raised btn btn-warning" ng-click="hidePanelResponsable()">Fermer</button>
                    </div>
                  </form>
                </div>                 <!--- Fin Parti Responsable de voyage  ----------------------------------->
                <div class="col-md-4"> <!--- Fin passeport  ------------------------------------------>
                  <label  class="right_profil labelProfil">Passeport</label>
                </div>
                <div class=" col-md-8">
                  <div ng-if='listPasseport.length == 0 && profils.Passeport.length == 0' class="col-xs-12 ">
                    <p class="p_profil">Passeport</p>
                  </div>
                  <div>
                    <div ng-if='listPasseport.length > 0 || profils.Passeport.length > 0' class="no-phone-numbers">
                      <p class="p_profil">{{profils.Passeport}}</p>
                      <p class="p_profil" ng-repeat="onePasseport in listPasseport">{{name.onePasseport}}</p>
                    </div>
                  </div>
                  <div ng-if="ajouterPasseport" ng-click="showPanelPasseport()" class="add link-icon">
                    <span class="col-xs-12 addProfil link-icon__text">
                      <md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter un passeport
                    </span>
                  </div>
                </div>
                <div class="right col-md-2"></div>
                <div class="right col-md-10">
                  <form ng-submit="submitPasseport()">
                    <div class="passeport panel" ng-if="passeport">
                      <div class="panel-header panel-header_min">Ajouter un passeport</div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Nom</label>
                      </div>
                      <div class=" col-md-4">
                        <input class="input_generic" name="passeport" ng-model="user.nomPasseport" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Numéro</label>
                      </div>
                      <div class=" col-md-4">
                        <input class="input_generic" name="passeport" ng-model="user.prenomPasseport" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Expiration</label>
                      </div>
                      <div class=" col-md-4">
                        <input class="input_generic" name="passeport" ng-model="user.expirationPasseport" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                      </div>
                      <div class="col-md-2">
                        <label  class="right_profil labelProfil">Pays</label>
                      </div>
                      <div class=" col-md-4">
                        <input class="input_generic" name="passeport" ng-model="user.paysPasseport" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                      </div>
                      <button type="submit" class="right md-raised btn btn-success" value="Submit">Ajouter</button>
                      <button class="right md-raised btn btn-warning" ng-click="hidePanelPasseport()">Fermer</button>
                    </div>
                  </form>
                </div>
                <div class="clear"></div>           <!--- Fin passeport  ------------------------------------------>
              </div>
            <!-- </div> -->
          </div>                <!--- Fin Panel personnel  ----------------------------------->
           <!--- Parti Panel paiement  ----------------------------------->
          <!-- <div class="panel">
          <div id="paiement" class="panel-header">Paiement <md-icon class="right" md-svg-icon="img/icons/payment.svg"></md-icon></div>
          <div class="container">
            <div class="row">
            </br>
              <div class="col-md-12">
                <p class="p_profil">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .</p>
              </div>
            </div>
            <div class="clear"></div>
          </div> -->
          </div>
          <!--- Fin Parti paiement  ----------------------------------->
          <div id="livraison" class="panel-header">Livraison <md-icon class="right" md-svg-icon="img/icons/delivery.svg"></md-icon></div>
          <div class="panel">   <!--- Parti Panel Livraison  ----------------------------------->
            <div class="container">
              <div class="row">
              </br>
                <div class="col-md-12">
                  <p class="p_profil">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .</p>
                </div>
              </div>
            </div>
          </div>                <!--- Fin Parti Livraison  ----------------------------------->
          <div id="preference" class="panel-header">Préférences <md-icon class="right" md-svg-icon="img/icons/like.svg"></md-icon></div>
          <div class="panel">   <!--- Parti Panel Préférence  ----------------------------------->
            <div class="container">
              <div class="row">
              </br>
                <div class="col-md-12">
                  <h4 class="h4bleu">Préférences Avion</h4>
                </div>
                <div class="col-md-3">
                  <label class="right labelProfil">Préférence siège</label>
                </div>
                <div class="col-md-9">
                  <md-input-container class="">
                    <md-select aria-label="jours"  name="birth_jours" ng-model="user.pref_avion_siege" >
                      <md-option value="couloir">Couloir</md-option>
                      <md-option value="hublot">Hublot</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div class="col-md-3">
                  <label class="right labelProfil">Préférence repas</label>
                </div>
                <div class="col-md-9">
                  <md-input-container class="">
                    <md-select aria-label="jours"  name="birth_jours" ng-model="user.pref_avion_siege" >
                      <md-option value="vegetarien">Végétarien</md-option>
                      <md-option value="SansGlut">Sans gluten</md-option>
                      <md-option value="sansporc">Sans porc</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div class="col-md-3">
                  <label  class="right labelProfil">Carte de fidélité </label>
                </div>
                <div class=" col-md-9">
                  <div ng-if='listFidelite.length == 0 && fidelite.fidelite.length == 0' class=" ">
                    <p class="p_profil">Carte de fidélité Manquant</p>
                  </div>
                  <div ng-if='listFidelite.length > 0 || fidelite.Email.length > 0' class="no-phone-numbers">
                    <p class="p_profil">{{profils.fidelite}}</p>
                    <p class="p_profil" ng-repeat="fidelite in listFidelite">{{fidelite.fidelite}}</p>
                  </div>
                  <div ng-if="ajouterFidelite" ng-click="showPanelFidelite()" class="add link-icon">
                    <span class="addProfil link-icon__text">
                      <md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter une carte de fidélité
                    </span>
                  </div>
                  <div class="row">
                    <form ng-submit="submitFidelite()">
                      <div class="fidelite panel" ng-if="fidelite">
                        <div class="panel-header panel-header_min">Ajouter une carte de fidélité</div>
                        <div class="row">
                          <div class="col-md-4">
                            <label  class="labelProfil" for="mail"> Choississez la compagnie aérienne </label>
                          </div>
                          <div class="col-md-8">
                            <md-input-container class="">
                              <md-select aria-label="jours"  name="birth_jours" ng-model="user.pref_avion_siege" >
                                <md-option value="airFrance">Air France</md-option>
                                <md-option value="airCorsica">Air Corsica</md-option>
                                <md-option value="turkish">Turkish Airline</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label  class="labelProfil" for="mail"> numéro carte </label>
                          </div>
                          <div class="col-md-8">
                            <input class="input_generic" name="passeport" ng-model="user.code_fidelite" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                          </div>
                        </div>
                        <button type="submit" class="right md-raised btn btn-success" value="Submit">Ajouter</button>
                        <button class="right md-raised btn btn-warning" ng-click="hidePanelFidelite()">Fermer</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="right labelProfil">Carte abonné Air France</label>
                </div>
                <div class="col-md-12 col-md-offset-1">
                  <table class="tabProfil">
                    <tr>
                      <th><label  class="labelProfil" for=""> Numéro de de la carte </label></th>
                      <th colspan="2"><label  class="labelProfil" for=""> Fin de validité </label></th>
                      <th><label  class="labelProfil" for="mail"> Description de la carte </label></th>
                    </tr>
                    <tr>
                      <td><input class="input_generic" name="passeport" ng-model="user.paysPasseport" type="text" ng-minlength="1" ng-maxlength="30" class="validate" ></td>
                      <td>
                        <md-input-container class="">
                          <md-select aria-label="jours"  name="birth_jours" ng-model="user.pref_avion_siege" >
                            <md-option value="1">1</md-option>
                            <md-option value="2">2</md-option>
                            <md-option value="...">...</md-option>
                          </md-select>
                        </md-input-container>
                      </td>
                      <td>
                        <div class="col-md-2">
                          <md-input-container class="">
                            <md-select aria-label="jours"  name="" ng-model="user.airfrance_fidelite_mois" >
                              <md-option value="janvier">Janvier</md-option>
                              <md-option value="decembre">Décembre</md-option>
                              <md-option value="...">...</md-option>
                            </md-select>
                          </md-input-container>
                        </div>
                      </td>
                      <td>
                        <input class="input_generic" name="" ng-model="user.airfrance_fidelite_" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-12">
                  <h4 class="h4bleu">Préférences Train</h4>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="right_profil labelProfil">Préférence de classe de réservation </label>
                  </div>
                  <div class="col-md-9">
                    <md-input-container class="select_generic">
                      <md-select aria-label="railClass"  name="railClass" ng-model="profils.railClass" >
                        <md-option ng-repeat="OnerailClass in railClass"  value="{{OnerailClass.RailClass}}">{{OnerailClass.RailClass}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="right_profil labelProfil">Emplacement</label>
                  </div>
                  <div class="col-md-9">
                    <md-input-container class="select_generic">
                      <md-select aria-label="railWagonCode"  name="railWagonCode" ng-model="profils.railWagonCode" >
                        <md-option ng-repeat="OnerailWagonCode in railWagonCode" value="{{OnerailWagonCode.RailWagonCode}}">{{OnerailWagonCode.RailWagonCode}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="right_profil labelProfil">Sens de la marche</label>
                  </div>
                  <div class="col-md-9">
                    <md-input-container class="select_generic">
                      <md-select aria-label="railSeatPosition"  name="railSeatPosition" ng-model="profils.railSeatPosition" >
                        <md-option ng-repeat="OnerailSeatPosition in railSeatPosition" value="{{OnerailSeatPosition.RailSeatPosition}}">{{OnerailSeatPosition.RailSeatPosition}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="right_profil labelProfil">Gare de Départ préférée</label>
                  </div>
                  <div class="col-md-9">
                    <md-autocomplete class="select_generic" md-selected-item="selectedItem" md-search-text="railText" md-items="OnerailDepartureStation in querySearch(railText,'villeGare')" md-item-text="OnerailDepartureStation.RailDepartureStation">
                      <span md-highlight-text="searchText">{{OnerailDepartureStation.RailDepartureStation}}</span>
                    </md-autocomplete>
                  </div>
                </div>
                <div class="col-md-3">
                  <label  class="right labelProfil">Carte voyageur</label>
                </div>
                <div class=" col-md-9">
                  <div ng-if='listCarteVoy.length == 0 && profils.CarteVoy.length == 0'>
                    <p class="p_profil">Carte voyageur manquante</p>
                  </div>
                  <div>
                    <div ng-if='listCarteVoy.length > 0 || profils.CarteVoy.length > 0' class="no-phone-numbers">
                      <p class="p_profil">{{profils.CarteVoy}}</p>
                      <p class="p_profil" ng-repeat="carteVoy in listCarteVoy">{{carteVoy.carteVoy}}</p>
                    </div>
                  </div>
                  <div ng-if="ajouterCarteVoy" ng-click="showPanelCarteVoy()" class="add link-icon">
                    <span class="addProfil link-icon__text">
                      <md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter une carte voyageur
                    </span>
                  </div>
                  <div class="row">
                    <form ng-submit="submitCarteVoy()">
                      <div class="carteVoy" ng-if="carteVoy">
                        <div class="panel-header panel-header_min">Ajouter une carte de voyage <md-icon ng-click="hidePanelCarteVoy()" class="right logo_lock" md-svg-icon="img/icons/delete-button.svg"></md-icon></div>
                        <div class="panel">
                          <div class="col-md-4">
                            <label  class="labelProfil" for="carteVoy"> Prestataire </label>
                          </div>
                          <div class="col-md-8">
                            <md-input-container class="select_generic">
                              <md-select aria-label="provider"  name="provider" ng-model="profils.provider" >
                                <md-option ng-click="cardNameChange(profils.provider)" ng-repeat="Oneprovider in provider" value="{{Oneprovider.PROVIDER}}">{{Oneprovider.PROVIDER}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div class="col-md-4">
                            <label  class="labelProfil" for="nom_carteVoy"> Nom de la carte </label>
                          </div>
                          <div class="col-md-8">
                            <md-input-container class="select_generic">
                              <md-select aria-label="card_name"  name="card_name" ng-model="profils.card_name" >
                                <md-option ng-repeat="Onecard_name in card_name" value="{{Onecard_name.CARD_NAME}}">{{Oneprovider.CARD_NAME}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div class="col-md-4">
                            <label  class="labelProfil" for="num_carteVoy"> Numéro de la carte </label>
                          </div>
                          <div class="col-md-8">
                            <input class="input_generic" name="num_carteVoy" ng-model="user.num_carteVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                          </div>
                          <div class="col-md-4">
                            <label  class="labelProfil" for="num_carteVoy"> Date de validité </label>
                          </div>
                          <div class="col-md-8">
                            <md-input-container style="margin-right: 10px;" class="">
                              <md-select aria-label="jours"  name="birth_jours" ng-model="user.birth_jours" >
                                <md-option  ng-repeat="oneJours in jours"  value="{{oneJours.name}}">{{oneJours.name}}</md-option>
                              </md-select>
                            </md-input-container>
                            <md-input-container class="">
                              <md-select aria-label="mois"  name="birth_mois" ng-model="user.birth_mois" >
                                <md-option  ng-repeat="oneMois in mois"  value="{{oneMois.name}}">{{oneMois.name}}</md-option>
                              </md-select>
                            </md-input-container>
                            <md-input-container class="">
                              <md-select  name="birth_annee" ng-model="user.birth_annee" >
                                <md-option  ng-repeat="oneAnnee in annee"  value="{{oneAnnee.name}}">{{oneAnnee.name}}</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                              <button class="right md-raised btn btn-warning" type="submit" value="Submit">Ajouter</button>
                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="right labelProfil">Carte de fidélité train</label>
                </div>
                <div class="col-md-12 col-md-offset-1">
                  <table class="tabProfil">
                    <tr>
                      <th><label  class="labelProfil" for=""> Fournisseur </label></th>
                      <th><label  class="labelProfil" for=""> Nom de la carte </label></th>
                      <th><label  class="labelProfil" for=""> Numéro de de la carte </label></th>
                    </tr>
                    <tr>
                      <td>SNCF</td>
                      <td>Carte Grand Voyageur</td>
                      <td><input class="input_generic" name="" ng-model="user.Num_carteGrandVoy" type="text" ng-minlength="1" ng-maxlength="30" class="validate" ></td>
                    </tr>
                    <tr>
                      <td>Eurostar</td>
                      <td>Programme de fidélité</td>
                      <td><input class="input_generic" name="" ng-model="user.Num_carteEurostar" type="text" ng-minlength="1" ng-maxlength="30" class="validate"></td>>
                    </tr>
                    <tr>
                      <td>Thalys</td>
                      <td>Thalys TheCard</td>
                      <td><input class="input_generic" name="" ng-model="user.Num_carteThalys" type="text" ng-minlength="1" ng-maxlength="30" class="validate" ></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-12">
                  <h4 class="h4bleu">Préférences Hotel</h4>
                </div>
                <div class="col-md-3">
                  <label class="right labelProfil">Préférence fumeur</label>
                </div>
                <div class="col-md-9">
                  <md-input-container class="">
                    <md-select aria-label="Pref_hotelfummeur"  name="Pref_classTrain" ng-model="Pref_hotelfummeur" >
                      <md-option value="sansPref">Sans préférence</md-option>
                      <md-option value="fumeur">Fumeur</md-option>
                      <md-option value="nonFurmeur">Non fumeur</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div class="col-md-3">
                  <label  class="right labelProfil">Carte de fidélité </label>
                </div>
                <div class=" col-md-9">
                  <div ng-if='listFidelitehotel.length == 0 && fidelite.fidelite.length == 0' class=" ">
                    <p class="p_profil">Carte de fidélité Manquant</p>
                  </div>
                  <div ng-if='listFideliteHotel.length > 0 || fidelite.Email.length > 0' class="no-phone-numbers">
                    <p class="p_profil">{{profils.fideliteHotel}}</p>
                    <p class="p_profil" ng-repeat="fideliteHotel in listFideliteHotel">{{fideliteHotel.fideliteHotel}}</p>
                  </div>
                  <div ng-if="ajouterFideliteHotel" ng-click="showPanelFideliteHotel()" class="add link-icon">
                    <span class="addProfil link-icon__text">
                      <md-icon class="logo_lock"md-svg-icon="img/icons/bleed.svg"></md-icon>
                      Ajouter une carte de fidélité
                    </span>
                  </div>
                  <div class="row">
                    <form ng-submit="submitFideliteHotel()">
                      <div class="fideliteHotel panel" ng-if="fideliteHotel">
                        <div class="panel-header panel-header_min">Ajouter une carte de fidélité</div>
                        <div class="row">
                          <div class="col-md-4">
                            <label  class="labelProfil" for="mail"> Choississez le code hotel </label>
                          </div>
                          <div class="col-md-8">
                            <md-input-container class="">
                              <md-select aria-label="fideliteHotel"  name="fideliteHotel" ng-model="user.fideliteHotel" >
                                <md-option value="airFrance">Accord</md-option>
                                <md-option value="airCorsica">Formule 1</md-option>
                                <md-option value="turkish">Ibis</md-option>
                              </md-select>
                            </md-input-container>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <label  class="labelProfil" for="code_fideliteHotel"> code carte fidélité </label>
                          </div>
                          <div class="col-md-8">
                            <input class="input_generic" name="code_fideliteHotel" ng-model="user.code_fideliteHotel" type="text" ng-minlength="1" ng-maxlength="30" class="validate" >
                          </div>
                        </div>
                        <button type="submit" class="right md-raised btn btn-success" value="Submit">Ajouter</button>
                        <button class="right md-raised btn btn-warning" ng-click="hidePanelFidelite()">Fermer</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>      <!--- Fin Parti préférence  ----------------------------------->
        </div>
      </div>
    </md-content>
  </div>
</div>
