<div ng-controller="tableauCtrl" ng-init="init(info)">
    <div id="{{info.embed_id}}" style="height:100%" class="col s12"></div>
    <!-- <nav style="background-color: rgba(43, 77, 150, 0.77) !important;">
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <li><a id="getData" ng-click="getUnderlyingData()">
            <md-icon style="margin-right:10px;" class="icon_logout icon_size" md-svg-icon="img/icons/extract-file-button.svg"></md-icon>
            <md-tooltip md-direction="bottom">Cliquez pour extraire la data</md-tooltip>
          </a></li>
          <li>
            <a id="getPDF" ng-click="exportToPDF()"><md-icon style="margin-right:10px;" class="icon_logout icon_size" md-svg-icon="img/icons/pdf.svg"></md-icon>
              <md-tooltip md-direction="bottom">Cliquez pour extraire le pdf</md-tooltip>
            </a>
          </li>
          <li>
            <a id="getSelect"><md-icon style="margin-right:10px;" class="icon_logout icon_size" md-svg-icon="img/icons/select.svg"></md-icon>
              <md-tooltip md-direction="bottom">Selectionnez une zone de donnée à extraire</md-tooltip>
            </a>
          </li>
        </ul>
      </div>
    </nav> -->
</div>
