<!-- <iframe class="col s12" ng-src="{{trustHtml()}}"></iframe> -->

<div id="divMahefa" style="height:800px" class="col s12"></div>

<!-- <div id="divMahefa" class="{{frame.embed_width}}" style="background-color: white; display:{{display}};" layout-padding="">
</div> -->
<!-- <div ng-if="!show"  style="background-color: white; height:">
  <div style="
  margin-top   : 15vh;
  margin-left  : auto;
  position     : relative;
  width        : 400px;
  height       : 400px;
  margin-right : auto;
  "
  ng-include src="urlLoadingView"></div>
</div> -->
