<!-- <div> -->
  <!-- <md-card class="col-sm-7  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: #E1BEE7;">
  </md-card>
  <md-card class="col-sm-4  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: #BBDEFB;">
  </md-card>

  <md-card class="col-sm-11  md-whiteframe-1dp" style="height:50px; width: 93%; text-align:center; background-color: #B2DFDB;">
  </md-card> -->
<!-- </div> -->

<!-- <script type='text/javascript' src='http://data.travelplanet.fr/javascripts/api/viz_v1.js'></script> -->
</div>
  <object class="tableauViz" width="800" height="600" style=":none;">
      <param name="name" value="Book_map_live/Dashboard1" />
      <param name="ticket" value="{{ticket}}" />
  </object>
</div>
<!-- <div>
<md-card class="col-sm-4  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: #C8E6C9;">
</md-card>
<md-card class="col-sm-7  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: #F0F4C3;">
</md-card>
</div> -->
