<div class="col-md-12 live" show-md show-sm hide-gt-md>
  <!-- tile 2 -->
  <div class="live-tile blue tile-small" style="background-color:transparent; width:120px; height: 120px; opacity: 1; transform: scale(1); transition: 0.5s; box-shadow: none;" data-direction="horizontal" data-mode="carousel" data-delay="5500" data-speed="1200">
      <div class="image-container image-format-fill live-slide" style="whidth: 100%; height: 100%; background-color:#2196F">
          <img src="http://www.clipartbest.com/cliparts/jix/oBa/jixoBao7T.png">
      </div>
      <div class="live-slide" style="whidth: 100%; height: 100%; background-color:#2196F;" layout-padding="">
          <br>
          <h1 style="text-align:center; font-weight: bold;" class="md-title">Commande</h1>
      </div>
  </div>
  <!-- tile 3 -->
  <div ng-click="getFacture()" class="live-tile blue tile-small" style="background-color:transparent; width:120px; height: 120px; opacity: 1; transform: scale(1); transition: 0.5s; box-shadow: none;" data-direction="horizontal" data-mode="flip" data-delay="6000" data-speed="1200">
      <div class="image-container image-format-fill live-slide" style="whidth: 100%; height: 100%; background-color:#5DC7DD">
          <img src="http://cache4.asset-cache.net/xc/490403078.jpg?v=2&c=IWSAsset&k=2&d=UC9I_QH_29abG8uOsUT0VWfiZAoH-tOFMQbtw7cEHvj9D9SF9kqH-gILdq2KOFJj0">
      </div>
      <div class="live-slide" style="whidth: 100%; height: 100%; background-color:#5DC7DD;" layout-padding="">
          <br>
          <h1 style="text-align:center; font-weight: bold;" class="md-title">Facture</h1>
      </div>
  </div>

  <!-- <embed ng-src="{{content}}" style="width:200px;height:200px;"></embed> -->

  <!-- tile 4 -->
  <div class="live-tile tile-small" style="background-color:transparent; width:120px; height: 120px; opacity: 1; transform: scale(1); transition: 0.5s; box-shadow: none;" data-mode="flip" data-delay="7000" data-speed="1200">
        <div class="image-container image-format-fill live-slide" style="whidth: 100%; height: 100%; background-color:#EF5350">
            <img src="http://www.clipartbest.com/cliparts/jix/oBa/jixoBao7T.png">
        </div>
        <div class="live-slide" style="whidth: 100%; height: 100%; background-color:#EF5350;" layout-padding="">
            <br>
            <h1 style="text-align: center; font-weight: bold;"class="md-title">Unknown</h1>
        </div>
    </div>
</div>

<div>
  <div ng-repeat="(key, view) in getAllView.path_to_view" class="{{getAllView.embed_width[key]}} separator" style="height:{{getAllView.embed_height[key]}}">
    <iframe ng-src='{{trustHtml(getAllView.token[key], getAllView.path_to_view[key])}}' class="col-md-12" style="height:{{getAllView.embed_height[key]}}; border:transparent; background-color: transparent;"></iframe>
  </div>
</div>
