<div id="{{frame.embed_id}}" ng-repeat="frame in getAllView" ng-if="frame.embed_content_type == 'Tableau'" class="{{frame.embed_width}} separator row" style="height:{{frame.embed_height}};">
    <div class="{{frame.embed_width}}" style=" width: 104%; background-color: white; display:{{display}};" layout-padding="">
    </div>
    <div ng-if="!show"  class="col s12" style="width: 104%; background-color: white; height:{{frame.embed_height}};">
      <div style="
      margin-top: 15vh;
      margin-left: auto;
      position: relative;
      width: 400px;
      height: 400px;
      margin-right: auto;
      "
      ng-include src="urlLoadingView"></div>
    </div>
</div>
