<div>
  <md-card class="col-sm-7  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: white;">
    One of three columns
  </md-card>
  <md-card class="col-sm-4  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: white;">
    One of three columns
  </md-card>

  <md-card class="col-sm-11  md-whiteframe-1dp" style="height:50px; width: 93%; text-align:center; background-color: white;">
    url
  </md-card>
</div>

<div>
<md-card class="col-sm-4  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: white;">
  One of three columns
</md-card>
<md-card class="col-sm-7  md-whiteframe-1dp" style="height:400px; text-align:center; background-color: white;">
  One of three columns
</md-card>
</div>
