<md-dialog class="halfscreen-dialog" aria-label="Full Screen Dialog Test">
  <md-toolbar style="background-color:#333742!important">
      <h4 style="margin-left:20px">Attention ! Vous allez etre déconnecté.</h4>
  </md-toolbar>
  <md-dialog-content>
    <div style="text-align: center;" class="col s12">
      <div style="margin-top: 3%;" class="row">
        <span>Vous êtes inactif depuis un bon moment.</span><br>
        <img style="width:25%; margin-top: 3%" src="/img/time-passing.svg">
      </div>
    </div>
    <div class="col s12">
      <div class="row">
        <div class="col s6">
          <div ng-click="logOut()" class="button raised grey">
            <div class="center" fit>Me déconnecter</div>
            <paper-ripple fit></paper-ripple>
          </div>
        </div>
        <div class="col s6">
          <div ng-click="resterconnecter()" class="button raised green">
            <div class="center" fit>Rester connecté </div>
            <paper-ripple fit></paper-ripple>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
