<div ng-model="multiple_view" layout-padding="" style="width: 325px; {{get_color}}">
  <div class="row">
      <!-- <p style="color: black">{{multiple_view}}</p> -->
      <div ng-repeat="view in multiple_view" class="col s4" style="text-align:center">
          <div ng-click="goToTemplate(view)"  class="tile-small" data-period="{{menu.view_position}}" data-duration="250" data-role="tile" data-effect="{{menu.animation}}">
              <div class="tile-content">
                  <div class="live-slide tiles_size" style="background-color:blue;" layout-padding="">
                      <img ng-src="/img/profils.svg">
                  </div>
                  <div class="live-slide tiles_size" style="background-color:blue;" layout-padding="">
                      <img ng-src="/img/profils.svg">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
