<div class="info-overlay container" style="background-color:rgb(0, 188, 212)">
    <h1 class="center">Choisissez une catégorie</h1>
    <div class="row">
    <!-- general  -->
      <div class="col-md-6" ng-click="goToList(21, 2, 1)">
        <div class="card">
            <div class="card__img card__img--top">
                <img src="img/general.jpg">
                <span class="textWhite fs-headline tc-white-1 display-block">{{list.tableau_libelle}}</span>
            </div>
        </div>
      </div>
      <!-- anaystic  -->
      <div class="col-md-6" ng-click="goToList(21, 2, 2)">
        <div class="card">
            <div class="card__img card__img--top">
                <img src="img/analyse.jpg">
                <span class="textWhite fs-headline tc-white-1 display-block">Analyse détaillé</span>
            </div>
        </div>
      </div>
    </div>
      <!-- fer -->
    <div class="row">
      <div class="col-md-6" ng-click="goToList(21, 2, 3)">
        <div class="card">
            <div class="card__img card__img--top">
                <img src="img/fer.jpg">
                <span class="textWhite fs-headline tc-white-1 display-block">Fer</span>
            </div>
        </div>
      </div>
      <!-- mer ? -->
      <div  class="col-md-6" ng-click="goToList(21, 2, 4)">
        <div class="card">
            <div class="card__img card__img--top">
                <img src="img/air.jpg">
                <span class="textWhite fs-headline tc-white-1 display-block">Air</span>
            </div>
        </div>
      </div>
    </div>
    <md-icon class="close right" id="close" md-svg-icon="img/icons/delete-button.svg"></md-icon>
  </div>
