<multi-step-container steps="steps" class="simple-prev-next">
    <header>


    </header>

    <main step-container></main>
    <md-button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
      <span class="fa fa-chevron-left"></span>
      Previous
    </md-button>
    <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>
    <strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></strong>

</multi-step-container>
